* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}

body {
    background-color: floralwhite;
    font-size: 16px;
    overflow-x: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 40px;
    grid-template-areas: "header" "main" "footer";
}
/*---------------------------------------------------------------*/
p {
    margin: 8px;
}

ul {
    list-style: square;  
    list-style-position: inside;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    text-align: left;
}

h1 {
    text-align: left;
    color: rgb(42, 108, 19);
    padding-bottom: 8px;
    border-bottom: 8px double yellowgreen;
    margin: 8px 4px;
}

h2 {
    text-align: center;
    color: #008200;
}

b {
    color: #008200;
}

hr {
    border: 3px dashed yellowgreen;
    margin: 12px 0;
}

.note {
    text-align: left;
    padding: 8px;
}

button {
    background-color: #008200;
    color: floralwhite;
    border: none;
    border-radius: 8px;
    padding: 6px  2px;
    align-self: center;
    width: 60px;
    cursor: pointer;
}


/*-----------------------------------------------------------------------------*/
header {
    grid-area: header;
    background-color: rgb(223, 255, 83);
    color: #006200;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    align-content: center;
    padding: 8px;

    display: flex;
    justify-content: space-between;
}

.logo {
    min-width: 300px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    color: rgb(64, 76, 54);
    background-color: rgb(180, 198, 167);
    font-weight: 600;
    font-size: 0.8rem;
    padding-left: 8px;
}
/*----------------------------------------------------------------------------*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 12px 8px;
    gap: 8px;
}

.card {
    border: 2.5px solid yellowgreen;
    border-radius: 12px;
    position: relative;

    min-height: 300px;

    align-content: center;
    text-align: center;
    flex: 1 0 180px;
}

/* .click-me style */
.click-me {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
}

.card:hover .click-me {
    display: inline-block;
    border-radius: 4px;
    background-color: #008200;
    padding: 4px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

/* before clicked */
.card .back .note {
    display: none;
}

.card .front {
    display: block;
}

/* after clicked */
.card.active .back .note {
    display: block;
}

.card.active .front {
    display: none;
}
